body{
	font-family: Arial;
	font-size: 20px;
}
table{
	margin: auto;
	widows: 450px;
	height: 200px;
	padding: none;
	border-collapse: collapse;
}
tr, td{
	border: 2px solid black;
}
.format_1{
	text-align: center;
	font-weight: bold;

}
.format_2{
	color: #125282;
	font-weight: bold;
}
.format_3{
	color: #4c89c8;
	font-weight: bold;
}
