body{
	margin: auto;
	font-family: Time New Roman;
	width: 600px;
}
#Header{
	margin: auto;
	text-align: center;
}
#Header h1{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;

}
#Header a{
	color: #512682;
	font-size: 20px;
	font-weight: bold;}
#End{
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
}
